
@font-face {
  font-family: 'C64_Pro-STYLE';
  src: url('_fonts/C64_Pro-STYLE.eot');
  src: local('☺'), 
       url('_fonts/C64_Pro-STYLE.woff') format('woff'), 
       url('_fonts/C64_Pro-STYLE.ttf') format('truetype'), 
       url('_fonts/C64_Pro-STYLE.svg#webfontg8dbVmxj') format('svg');
}

@font-face {
  font-family: 'C64_Pro_Mono-STYLE';
  src: url('_fonts/C64_Pro_Mono-STYLE.eot');
  src: local('☺'), 
       url('_fonts/C64_Pro_Mono-STYLE.woff') format('woff'), 
       url('_fonts/C64_Pro_Mono-STYLE.ttf') format('truetype'), 
       url('_fonts/C64_Pro_Mono-STYLE.svg#webfontg8dbVmxj') format('svg');
}

body  {font-family: 'C64_Pro-STYLE'; background-color:black; margin:0 0 0 0; padding:0 0 0 0;}

header{ position:relative;  height:70px; overflow:auto; width:100%; background-color:#71a7d5; line-height:70px;}

h1 {font-size:120%; margin:0; margin-left:10px; padiding:0; float:left; line-height:50px;}




#sitelayoutContainer{position:relative; width:100%; margin:0 auto; background-color:#71a7d5; background-color:#fff;}
#sitelayout{ width:100%; overflow:auto; }
#salvini{ font-size:80%; width:40%; position:absolute; top:0; left:35%; z-index:100; background-color:rgba(255,255,255,0.7); padding:10px; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; display:none;}
header{ overflow:hidden;}
#footer{ overflow:auto; display: block; clear:both; width:100%; margin:0 auto; background-color:#000; text-align:center; padding-top:10px;}
#core{color:#fff;}

#refresh{display:block; float:right; width:50px; margin-right:5px; display:none;}
#refresh img{ width:100%;}
#refresh span{display:none;}


body.loading #loadingBar span{
	
	-webkit-animation: myfirst 5s 50; /* Chrome, Safari, Opera */
    animation: myfirst 5s 50;
	
	-webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
	
}
	
	
.parallaxcontainer {
  position: relative;
  padding: 0;
width:100%;  
left:0px;
overflow:hidden;
height:300px;
}

	

.parallaxscene {
position:relative;
margin: 0 auto;
list-style-type:none;
width:130%;
overflow:hidden;

}

#parallax-sky{height:300px; width:100%; background-image:url(/core/core_sites/defaultsite/_css/_it/_salvini/_images/backgrounds/sky.png); background-repeat:repeat-x; background-position:0 0; z-index:0;  pointer-events:none; left:-50px !important; background-size:cover;}
#parallax-palace{width:100%; height:300px; background-image:url(/core/core_sites/defaultsite/_css/_it/_salvini/_images/backgrounds/palace.png); background-repeat: repeat-x; background-position:-100px 0px; z-index:5;  pointer-events:none; left:-50px !important; background-size:cover;}
#parallax-duomo{width:100%; height:300px; background-image: url(/core/core_sites/defaultsite/_css/_it/_salvini/_images/backgrounds/duomo.png); background-repeat: no-repeat; background-position:-100px 0px; background-repeat:repeat-x; z-index:6;  pointer-events:none; left:-50px !important; background-size:cover;}
#parallax-say{width:100%; height:300px; z-index:7;  pointer-events:none; left:-50px !important;}
#parallax-tombins{width:130%; height:300px; z-index:7; left:0px !important;}
#parallax-place{width:100%; height:300px; background-image:url(/core/core_sites/defaultsite/_css/_it/_salvini/_images/backgrounds/place.png); background-repeat: repeat-x; background-position:0px 0px; z-index:4;  pointer-events:none; left:-50px !important; background-size: cover;}
#parallax-salvini{width:100%; height:300px; background-image:url(/core/core_sites/defaultsite/_css/_it/_salvini/_images/salvini-pixelated.png); background-repeat: repeat-x; background-position:20px 0px; z-index:9;  pointer-events:none; left:-50px !important; background-size: contain; background-repeat:no-repeat;}



/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {width:0%;}
	100% {width:100%;}
}

/* Standard syntax */
@keyframes myfirst {
     0%   {width:0%;}
	100% {width:100%;}
}

#loadingBar{width:100%; height:5px; background-color:#71a7d5;}
#loadingBar span{display:block; height:5px; position:absolute; top:0; left:0; background-color:#000; overflow:hidden; width:0%;}



@media screen and (min-width: 480px) and (max-width: 767px){
body{}	
#parallax-palace{background-position:-150px 0px; }
#parallax-duomo{background-position:-150px 0px; }
h1 {font-size:140%;}
#salvini{ font-size:100%;}
	}
@media screen and (min-width: 768px)  and (max-width: 1023px) {
body{}
h1 {font-size:180%;}
#salvini{ font-size:120%; padding:20px;}	
#parallax-palace{background-position:-250px 0px; }
#parallax-duomo{background-position:-250px 0px; }
	}
@media screen and (min-width: 1024px)  and (max-width: 1199px) {
body{}	
h1 {font-size:220%;}
#salvini{ font-size:140%;padding:20px;}	
#parallax-palace{background-position:-300px 0px; }
#parallax-duomo{background-position:-300px 0px; }
	}
@media screen and (min-width: 1200px) {
body{}	
h1 {font-size:260%;}
#salvini{ font-size:200%; padding:20px;}
#parallax-palace{background-position:-400px 0px; }
#parallax-duomo{background-position:-400px 0px; }	
	}