/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {	margin-left: auto;	margin-right: auto;	width: 960px;}


.container_12:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .container_12             { zoom: 1; } /* IE6 */
*:first-child+html .container_12 { zoom: 1; } /* IE7 */

.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{	display:inline;	float: left;	position: relative; margin-left: 0px;	margin-right: 0px;}
.alpha {margin-left: 0;}
.omega {margin-right: 0;}
.container_12 .grid_1 {	width:80px;}
.container_12 .grid_2 {	width:160px;}
.container_12 .grid_3 {	width:240px;}
    .container_12 .grid_4 {
	width:320px;
}
    .container_12 .grid_5 {
	width:400px;
}
    .container_12 .grid_6 {
	width:480px;
}
    .container_12 .grid_7 {
	width:560px;
}
    .container_12 .grid_8 {
	width:640px;
}
    .container_12 .grid_9 {
	width:720px;
}
    .container_12 .grid_10 {
	width:800px;
}
    .container_12 .grid_11 {
	width:880px;
}
    .container_12 .grid_12 {
	width:960px;
}



/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/***********************************************************************
******************* reset.css ******************************************
************************************************************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body { line-height:1.5;}
table { border-collapse:separate; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal; }
table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
a img { border:none!important; }
.clearer { height: 0px; overflow: hidden; margin: 0px; clear: both; }

/***********************************************************************
******************* typography *****************************************
************************************************************************/

/* Titoli */
h1, h2, h3, h4, h5, h6 { font-weight: bold; color:#111;}
h1 { font-size:30px; line-height:1; margin-bottom:0.5em; }
h2 { font-size:190%; font-weight: normal;margin-bottom:0.75em; letter-spacing: -0.5px; color:#fff;}
h3 { font-size:100%; line-height:1; margin-bottom:1em; }
h4 { font-size:1.2em; line-height:1.25; margin-bottom:1.25em; }
h5 { font-size:1em; margin-bottom:1.5em; }
h6 { font-size:1em; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0;}

/* Paragrafi */
p { padding: 4px 0 4px 0; line-height: 22px; font-size: 13px;}
p img.left { float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}

/* Link */
a { color:#c55805; text-decoration:none;}
a:link, a:visited { color: #c55805; text-decoration: none; }
a:active, a:hover { color: #621303; text-decoration: underline }


/* Formattazione */
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong { font-weight:bold; } 
em, dfn { font-style:italic; } 
dfn { font-weight:bold; }
sup, sub { line-height:0; }
abbr, acronym { border-bottom:1px dotted #666; }
address { margin:0 0 1.5em; font-style:italic; }
del { color:#666;}
pre { margin:1.5em 0; white-space:pre;}
pre, code, tt { font:1em 'andale mono', 'lucida console', monospace; line-height:1.5; }
caption {background:#eee;}
.small { font-size:.9em; margin-bottom:1.875em; line-height:1.875em;}
.large { font-size:1.2em; line-height:2.5em; margin-bottom:1.25em;}
.hide { display:none; }
.quiet { color:#666; }
.loud { color:#000; }
.highlight { background:#ff0;}
.added { background:#060; color:#fff; }
.removed { background:#900; color:#fff; }
.first { margin-left:0; padding-left:0; }
.last { margin-right:0; padding-right:0; }
.top { margin-top:0; padding-top:0; }
.bottom { margin-bottom:0; padding-bottom:0; }
.center { text-align: center; }

/*liste e tabelle*/
li { margin: 0; line-height: 22px; }
ul, ol {margin:0; }
ul { list-style-type: disc; }
ol { list-style-type:decimal; }
dl { margin:0 0 1.5em 0; }
dl dt { font-weight:bold; }
dd { margin-left:1.5em; }
table { margin-bottom:1.4em; width:100%; }
th { font-weight: bold; background:#C3D9FF; }

tr.even td {background:#E5ECF9;}
tfoot {font-style:italic;}
/***********************************************************************
******************* End typography *************************************
************************************************************************/
body  {  font-size: 75%; color: #222; font-family: Arial; background-color:#eeeeee;}
#sitelayoutContainer{ background-color:#fff; width:1000px; margin:auto; padding-bottom:100px; margin-bottom:50px; margin-top:20px;
                      -moz-box-shadow:0px 0px 10px #333;
	-webkit-box-shadow:0px 0px 10px #333;
	box-shadow:0px 0px 10px #333;}

h1{display:none;}
h2,h3{color:#b50d0c;}

div.contentItems{ margin-top:20px;} 
img.coverImage {margin:0 10px 10px 0}
div.contentItem{ margin-bottom:20px;  float:left; width:300px; background-color:#fff; height:200px; margin-right:10px; padding:5px; }
div.contentItem h3{  color:#000; font-size:300%; margin:0 0 0 0; padding:0 0 0 0; font-weight:normal;}
div.contentItem h3 a{color:#000000; text-decoration:none;}
div.contentItem .contentCloser{}
p.contentDate{ clear:both; display:block;}
div.contentItem p.contentAbstract{ font-size: 140%;}
span.contentComments{display:none;}

#treeSite {height:40px; width:960px;margin:0 0 0 0;padding:0 0 0 0; font-size: 13px;}
#treeSite a {color:#fff;}
#treeSite ul{ list-style-type:none;}
#treeSite ul#lvl1 li a#branch1{position:absolute; width:286px; height:100px; top:20px; left:0; background-image:url('/core/core_sites/robertaCassese/_css/_it/_default/_images/logo-roberta-286x100.gif')}
#treeSite ul#lvl1 li a#branch1 span{display:none;}
#treeSite ul#lvl2 {width: 960px; height:30px; padding:0 0 0 0; margin:140px 0 0 0;  list-style-type:none; background-color:#cccccc;}
#treeSite ul#lvl2 li.page_item {line-height:32px; width:120px; padding:0 0 0 0; margin:0; display:block; float:left; text-align: center;}
#treeSite ul#lvl2 li.page_item a.selected,#treeSite ul#lvl2 li.page_item a.selected:hover{color:#fff!important;background-color:#b50d0c;}
#treeSite ul#lvl2 li.page_item a {height:30px; border:0; display:block; text-decoration:none; overflow:hidden; padding:0; margin:0;}
#treeSite ul#lvl2 li.page_item a:hover, #treeSite ul#lvl2 li.page_item a:focus{color: #fff; height:30px; width:120px; background-color:#999;}

/*breadcrumbs
-------------------------------------------------------------------------------------------------------------------------------*/
#breadCrumbs{color:#000000;}
#breadCrumbs a{ text-decoration:none; }
#breadCrumbs a span{ color:#777; padding-right:10px; }
#breadCrumbs a span span{ padding-right:18px; background-image:url(/core/core_sites/defaultSite/_css/_it/_core/_images/bg/bread.gif); background-repeat:no-repeat; background-position:center right;}

/* ### SLIDER ### */

div#featured {
	
	height: 400px;
	margin-bottom:20px;
}

div.featured-arrow {
	width: 26px; height: 31px;
	float: left;
	margin: 110px 0px 0px 0px;

}
div#slider {
	width: 809px; height: 210px;
	padding: 0px 10px; 
	margin: 0px 27px;
	float: left; 
	position: relative;
	}

div.projectImage {
	float: left; 
	overflow: hidden;
	margin: 0; 
	padding: 0;
}

div.projectDescription {
	float: left; 
	margin: 0 0 0 15px;
	width: 370px; 
}

div.projectDescription h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px; 
	background-color:#000;
	color: #f2f2f2;
	font-weight: bold; 
	margin: 0; padding: 4px;
	display:block;
}
	
div.projectDescription p {
	font-family: Georgia;
	font-size: 13px; color: #ddd;
	line-height: 22px; 
	margin-top: 15px;
	text-align: left;
}

.stripViewer { 
	position: relative;
	overflow: hidden; 
	width: 809px; 
	float: left;
	margin: 10px 0px 0px 0px;
}


#panelContainer{width: 2427px; left: 0px;}

.stripViewer .panelContainer { 
	position: relative;
	left: 0; top: 0;
	width: 100%; height: 100%;
	list-style-type: none;
	float: left; overflow: hidden;
}

.stripViewer .panelContainer .panel { 
	float:left;
	overflow: hidden;
	position: relative;
	width: 809px;
	padding: 0px;
	color:#fff;
}

.stripNavL, .stripNavR { 
	text-indent: -9000em;
}

.csw {width: 100%; height: 100%; overflow: hidden; float: left;}
.csw .loading { margin: 100px 0 300px 0; text-align: center; color: #fff; font-weight: bold; font-family: Verdana; font-size: 12px; }

#stripNavL0 a{ display:block; width:26px; height:31px; background-image:url(/core/core_sites/defaultSite/_css/_it/_core/_images/featured-arrow-left.gif)}
#stripNavR0 a{ display:block; width:26px; height:31px; background-image:url(/core/core_sites/defaultSite/_css/_it/_core/_images/featured-arrow-right.gif)}




.contentDetail{}
.contentDetail h2{ font-size:300%; margin:0 0 0 0; padding:0 0 0 0; font-weight:normal;}
.contentDetail p.contentDate{display:none;} 
.contentDetail div.contentDescription{ margin-bottom:20px;}
div.coversBox { width:800px;}
div.coversBox ul.gallery { margin:0 0 0 0; padding:0 0 0 0; list-style-type:none;}
div.coversBox ul.gallery li { float:left; margin-right:10px; margin-bottom:10px}



.archivioDesign h2, .archivioInteriors h2, .designHome h2{display:none;}
.archivioDesign div.contentItem{ margin-bottom:20px;  float:left; width:300px; background-color:#fff; height:200px; margin-right:10px; padding:5px; }
.archivioDesign .covers{ width:100px; height:100px; background-repeat: no-repeat;}
.homeImages .cover{ width:70px; height:70px; display:inline-block;float:left; margin:0 10px 10px 0; background-repeat:no-repeat;}

.archivioInteriors div.contentItem{ margin-bottom:20px;  float:left; width:450px; background-color:#fff; height:310px; margin-right:10px; padding:5px; background-color:white; }
.archivioInteriors  div.contentItems{ margin-top:0px;} 

.designHome  div.contentItems{ margin-top:0px;} 
.designHome div.contentItem{ margin:0 5px 5px 10px;  float:left; width:140px; background-color:#fff; height:140px; padding:0px;  text-align:right; }
.designHome div.contentItem a img{ margin-left:10px;}


div.container_12.order2 { margin-top:20px;}

/*div.container_12.order1 { background-image:url('/core/core_sites/robertaCassese/_css/_it/_default/_images/contact.gif'); background-position:top right; background-repeat:no-repeat;}*/

div#box_54 h2 {display:none;}


.coversBox ul li a {width:120px; height:120px; display:inline-block;float:left; margin:0 10px 10px 0; background-repeat:no-repeat;}

.archivioNovita h2{display:none;}
.archivioNovita div.contentItems{ margin-top:0px;} 
.archivioNovita img.coverImage {margin:0 10px 10px 0; float:left;}
.archivioNovita div.contentItem{ margin-bottom:30px;  float:none; width:100%; background-color:#fff;  margin-right:10px; padding:5px; clear:both; width:auto; height:auto; }
.archivioNovita div.contentItem h3{ font-size:300%; margin:0 0 0 0; padding:0 0 0 0; font-weight:normal;}
.archivioNovita div.contentItem h3 a{text-decoration:none;}
.archivioNovita div.contentItem .contentCloser{}
.archivioNovita p.contentDate{ clear:both; display:none;}
.archivioNovita div.contentItem p.contentAbstract{ font-size: 140%;}

.archivioParlano h2{display:none;}
.archivioParlano div.contentItems{ margin-top:0px;} 
.archivioParlano img.coverImage {margin:0 10px 10px 0; float:left;}
.archivioParlano div.contentItem{ margin-bottom:30px;  float:none; width:100%; background-color:#fff;  margin-right:10px; padding:5px; clear:both; width:auto; height:auto; }
.archivioParlano div.contentItem h3{ font-size:300%; margin:0 0 0 0; padding:0 0 0 0; font-weight:normal;}
.archivioParlano div.contentItem h3 a{ text-decoration:none;}
.archivioParlano div.contentItem .contentCloser{}
.archivioParlano p.contentDate{ clear:both; display:none;}
.archivioParlano div.contentItem p.contentAbstract{ font-size: 140%;}

.archivioGrafica h2{display:none;}
.archivioGrafica div.contentItems{ margin-top:0px;} 
.archivioGrafica img.coverImage {margin:0 10px 10px 0; float:left;}
.archivioGrafica div.contentItem{ margin-bottom:30px;  float:none; width:100%; background-color:#fff;  margin-right:10px; padding:5px; clear:both; width:auto; height:auto; }
.archivioGrafica div.contentItem h3{  font-size:300%; margin:0 0 0 0; padding:0 0 0 0; font-weight:normal;}
.archivioGrafica div.contentItem h3 a{ text-decoration:none;}
.archivioGrafica div.contentItem .contentCloser{}
.archivioGrafica p.contentDate{ clear:both; display:none;}
.archivioGrafica div.contentItem p.contentAbstract{ font-size: 140%;}

#icoMail,#icoFB,#icoMobile{padding-left:60px; line-height:50px; background-repeat:no-repeat; background-position:center left; font-size:200%; color:#b50d0c; margin-left:20px; margin-bottom:10px;}
#icoMail{ background-image: url(/core/core_sites/robertaCassese/_css/_it/_default/_images/icoMail.gif)}
#icoFB{background-image: url(/core/core_sites/robertaCassese/_css/_it/_default/_images/icoFB.gif)}
#icoMobile{background-image: url(/core/core_sites/robertaCassese/_css/_it/_default/_images/icoMobile.gif)}
