
.coverImage{display:none;}
#boxBiografia{ padding:0 25px;}
#boxBiografia p{ font-size:1.5em;}
#contentItems{ padding:30px 25px 0 25px;}

#contentItems .panel{ margin-bottom:50px;}
#contentItems .projectImage{}
#contentItems .projectDescription{}
#contentItems .projectDescription h2{}
#contentItems .projectDescription p{ font-size:1.3em;}
#contentItems .projectDescription p.Desc{ display:block; background-color:#003249; text-align:center;}
#contentItems .projectDescription p.Desc a{color:#fff; display:block; padding:20px;}
#contentItems .projectDescription p.Desc a:hover{ text-decoration:none; background-color:#54cee6 }
/* ### SLIDER START ### */


.container_12.order1.event0,
.container_12.order1.event1,
.container_12.order1.event2{
	
	height:110px; margin:0 auto;
	}

